[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[user]
    name = James Lamb
    email = jaylamb20@gmail.com

# https://help.github.com/articles/dealing-with-line-endings/
[core]
    autocrlf = input
